* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: medium;
	color: white;
	font-family: Georgia, sans-serif;;
	background-color: rgb(12, 8, 4);
}

header {
	margin: 0 auto;
	font-size: xx-large;
	padding: 20px;
}

.photo {
	padding-top: 50px;
	margin: 0 auto;
}

/* blocks of the central column */
.photo, .social, #links { 
	max-width: 170px;
}
header, #home, #links { 
	text-align:center;
}


.social {  /* nav element containing social media account links */
	background: #CB832F;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	display: block;
}
.social li {
	display: inline;
	padding: 10px;
}
.social a {
	text-decoration: none;
}
.logo {
	width: 20px;
	height: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


#links { /* central block containing index menu*/
	border: 1px solid #A3631B;
	padding: 20px 0 50px 0;
	margin: 50px auto 0 auto;
}

#links ul {
	list-style-type: none;
	margin:0;
	padding:0;
	line-height: 50px;
}
#links li {
	font-size: 1.5em;
}
#links a {
	text-decoration: none;
	font-family: Candara;
}



a {
	text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
	color: white;

}

a:visited {
	color: white;

}

a:focus {
	border-bottom: 1px solid;  /*no color specified. Border adopts the same color as the element's text, */ 
	background: #A3631B;
}

a:hover {
	color: black;
	border-bottom: 1px solid;
	background: #CB832F;

}

a:active {
	color: #A3631B;
	background: black;

}



.aside {
	border: solid 5px black;
	background-color: rgba(228, 225, 213, 0.856);
}

#aboutme {
	font-size: large;
	padding: 20px; /*padding is making container bigger, box-sizing: border box does not fix it (??)*/
	color: black;
}

#portfolio {
	padding: 20px; /*just to counterbalance aboutme's overgrowth*/

	display: flex;
	flex-wrap: wrap;

	min-height: 500px;
}

.project {
	padding: 1vw;
	width: 45%;
	background-color: rgb(216, 213, 205);
	margin: 5px;
}

.project img {
	width: 100%;
}

.project div{
	color: black;
}



@media (max-width: 899px) {
	#home {
		min-height: 100vh;
	}
}


@media (min-width: 900px) {
	main {
		display: flex;
	}

	article {
		flex: 1;
	}

	#home {
		order: 2;
		flex: 0.5;
	}

	#aboutme {
		order: 1;
	}

	#portfolio {
		order:3;
	}


	.isHidden { /* class to make articles (in)visible */
		visibility: hidden;
	}
	.isVisible {        
		visibility: visible;
	}
}
