body {
  color: white;
  font-family: Georgia;
  background-color: black;
}

h3 {

}

#tags {
	font-family: "Times New Roman", serif;
}

h1 {
	padding: 20px;
	text-align: center;
}

.wrapper {
	max-width: 500px;
	margin: 0 auto;
}

.skillsWrap {
	font-size: 20px;
	color: lightgrey;
	background-color: darkslategrey;
	max-width: 500px;
	padding: 50px;
	margin: 0 auto;
	border: 1px solid bisque;
	border-radius: 5%;
}

.skillsWrap h1 {
	color: white;
}

.skillsWrap h2 {
	color: lightblue;
}

.skillsWrap h3 {
	color: bisque;
}

.warning {
	color: darksalmon;
	font-size: 1em;
	font-family: "Courier New", serif;
}

.photo {
	padding-top: 50px;
	margin: 0 auto;
	width: 170px;
	display: block;
}

a {
	text-decoration: none;
        padding: 2px 1px 0;

}


a:link {
	color: white;

}

a:visited {
	color: white;

}

a:focus {
	border-bottom: 1px solid;  /*no color specified. Border adopts the same color as the element's text, */ 
	background: orange;
}

a:hover {
	color: black;
	border-bottom: 1px solid;
	background: orange;

}

a:active {
	color: red;
	background: black;

}

.social{
	background: orange;
	padding: 10px;
	max-width: 150px;
	margin: 0 auto;
	text-align: center;
	display: block;
	}
	
.social ul {
	list-style-type: none;
	height: auto;
	padding: 0;
	margin: 0;
}
	
.social li {
	display: inline;
	padding: 10px;
}
	
.social a {
	text-decoration: none;
}


ul {
	list-style-type: none;
}

.logo {
	display: inline;
	width: 20px;
	height: auto;
}

.list {
	max-width: 170px;
	border: 1px solid orange;
	padding: 20px 0 50px 0;
	margin: 50px auto 0 auto;
	text-align: center;
	/*display: block;*/
}

.list ul {
	list-style-type: none;
	margin:0;
	padding:0;
	line-height: 50px;
}

.list li {
	font-size: 1.5em;
}

.list a {
	text-decoration: none;
	font-family: Candara;
}

@ media (min-width: 600px) {
	/*remove top and bottom padding, add it only for non-portable-size screens*/
}
